{% extends 'base.html' %}
{% load static %}
    {% block content %}

        <div class="min-width-90 display-flex justify-center gap-30 side-bar-and-profile">
            <aside class="side-bar">
                <a href="profile.html"><i class="fa-solid fa-user"></i> Мой профиль</a>
                <a href=""><i class="fa-solid fa-basket-shopping"></i> Моя корзина</a>
                <a href=""><i class="fa-solid fa-arrow-right-from-bracket"></i> Выйти</a>
            </aside>
            <section class="not-mobile">
                <h1 style="font-weight: 100;">Iphone 13</h1>
                <div class="display-grid one-type-tovary">
                    <a href="./buytovar.html">
                        <div class="one-type-tovar center">
                            <img src="./img/black-iphone.png" alt="">
                            <h3>iPhone 13, 128 ГБ, Тёмная ночь</h3>
                            <p>Артикул: M11111111</p>
                            <div class="prices-in-card">
                                <h4>449 990 ₸</h4>
                                <h2>399 990 ₸</h2>
                            </div>
                            <p class="rassrochka-in-card"><span style="color: #8E8E93;">от 3 до 60 мес   </span> от 10 987 ₸ /мес.</p>
                        </div>
                    </a>
                    <a href="./buytovar.html">
                        <div class="one-type-tovar center">
                            <img src="./img/black-iphone.png" alt="">
                            <h3>iPhone 13, 128 ГБ, Тёмная ночь</h3>
                            <p>Артикул: M11111111</p>
                            <div class="prices-in-card">
                                <h4>449 990 ₸</h4>
                                <h2>399 990 ₸</h2>
                            </div>
                            <p class="rassrochka-in-card"><span style="color: #8E8E93;">от 3 до 60 мес   </span> от 10 987 ₸ /мес.</p>
                        </div>
                    </a>
                    <a href="./buytovar.html">
                        <div class="one-type-tovar center">
                            <img src="./img/black-iphone.png" alt="">
                            <h3>iPhone 13, 128 ГБ, Тёмная ночь</h3>
                            <p>Артикул: M11111111</p>
                            <div class="prices-in-card">
                                <h4>449 990 ₸</h4>
                                <h2>399 990 ₸</h2>
                            </div>
                            <p class="rassrochka-in-card"><span style="color: #8E8E93;">от 3 до 60 мес   </span> от 10 987 ₸ /мес.</p>
                        </div>
                    </a>
                    <a href="./buytovar.html">
                        <div class="one-type-tovar center">
                            <img src="./img/black-iphone.png" alt="">
                            <h3>iPhone 13, 128 ГБ, Тёмная ночь</h3>
                            <p>Артикул: M11111111</p>
                            <div class="prices-in-card">
                                <h4>449 990 ₸</h4>
                                <h2>399 990 ₸</h2>
                            </div>
                            <p class="rassrochka-in-card"><span style="color: #8E8E93;">от 3 до 60 мес   </span> от 10 987 ₸ /мес.</p>
                        </div>
                    </a>
                    <a href="./buytovar.html">
                        <div class="one-type-tovar center">
                            <img src="./img/black-iphone.png" alt="">
                            <h3>iPhone 13, 128 ГБ, Тёмная ночь</h3>
                            <p>Артикул: M11111111</p>
                            <div class="prices-in-card">
                                <h4>449 990 ₸</h4>
                                <h2>399 990 ₸</h2>
                            </div>
                            <p class="rassrochka-in-card"><span style="color: #8E8E93;">от 3 до 60 мес   </span> от 10 987 ₸ /мес.</p>
                        </div>
                    </a>
                </div>
            </section>
        </div>
        <section class="mobile-flex justify-between gap-15 tovar-scroll-handle" style="margin-top: 50px;">
                <a href="./buytovar.html" class="remove-mobile-background">
                        <div class="one-type-tovar center">
                            <img src="./img/black-iphone.png" alt="">
                            <h3>iPhone 13, 128 ГБ, Тёмная ночь</h3>
                            <p>Артикул: M11111111</p>
                            <div class="prices-in-card">
                                <h4>449 990 ₸</h4>
                                <h2>399 990 ₸</h2>
                            </div>
                            <p class="rassrochka-in-card"><span style="color: #8E8E93;">от 3 до 60 мес   </span> от 10 987 ₸ /мес.</p>
                        </div>
                    </a>
                    <a href="./buytovar.html" class="remove-mobile-background">
                        <div class="one-type-tovar center">
                            <img src="./img/black-iphone.png" alt="">
                            <h3>iPhone 13, 128 ГБ, Тёмная ночь</h3>
                            <p>Артикул: M11111111</p>
                            <div class="prices-in-card">
                                <h4>449 990 ₸</h4>
                                <h2>399 990 ₸</h2>
                            </div>
                            <p class="rassrochka-in-card"><span style="color: #8E8E93;">от 3 до 60 мес   </span> от 10 987 ₸ /мес.</p>
                        </div>
                    </a>
                    <a href="./buytovar.html" class="remove-mobile-background">
                        <div class="one-type-tovar center">
                            <img src="./img/black-iphone.png" alt="">
                            <h3>iPhone 13, 128 ГБ, Тёмная ночь</h3>
                            <p>Артикул: M11111111</p>
                            <div class="prices-in-card">
                                <h4>449 990 ₸</h4>
                                <h2>399 990 ₸</h2>
                            </div>
                            <p class="rassrochka-in-card"><span style="color: #8E8E93;">от 3 до 60 мес   </span> от 10 987 ₸ /мес.</p>
                        </div>
                    </a>
                    <a href="./buytovar.html" class="remove-mobile-background">
                        <div class="one-type-tovar center">
                            <img src="./img/black-iphone.png" alt="">
                            <h3>iPhone 13, 128 ГБ, Тёмная ночь</h3>
                            <p>Артикул: M11111111</p>
                            <div class="prices-in-card">
                                <h4>449 990 ₸</h4>
                                <h2>399 990 ₸</h2>
                            </div>
                            <p class="rassrochka-in-card"><span style="color: #8E8E93;">от 3 до 60 мес   </span> от 10 987 ₸ /мес.</p>
                        </div>
                    </a>
                    <a href="./buytovar.html" class="remove-mobile-background">
                        <div class="one-type-tovar center">
                            <img src="./img/black-iphone.png" alt="">
                            <h3>iPhone 13, 128 ГБ, Тёмная ночь</h3>
                            <p>Артикул: M11111111</p>
                            <div class="prices-in-card">
                                <h4>449 990 ₸</h4>
                                <h2>399 990 ₸</h2>
                            </div>
                            <p class="rassrochka-in-card"><span style="color: #8E8E93;">от 3 до 60 мес   </span> от 10 987 ₸ /мес.</p>
                        </div>
                    </a>
            </section>
    {% endblock %}