{% extends 'base.html' %}
{% load static %}
    {% block content %}

            <div class="min-width-90 display-flex justify-center gap-30 side-bar-and-profile">

            <aside class="side-bar">
                <a href=""><i class="fa-solid fa-user"></i> Мой профиль</a>
                <a href="{% url 'cart' %}"><i class="fa-solid fa-basket-shopping"></i> Моя корзина</a>
                <a href="{% url 'settings' %}"><i class="fa-solid fa-basket-shopping"></i> Настройки</a>
                <a href="{% url 'logout' %}"><i class="fa-solid fa-arrow-right-from-bracket"></i> Выйти</a>

            </aside>

            <div class="display-grid one-type-tovary" >

            <section class="private-dates">

            <h1>Личные данные</h1>
                 <form method="post">
                {% csrf_token %}

            <div class="input-group">
                <label for="phoneField">Номер телефона:</label>
                {% if user_profile.phone %}
                    <input id="phoneField" class="profile-input" type="text" value="{{ user_profile.phone }}" readonly>
                {% else %}
                    <span><a href="{% url 'settings' %}">+ добавить номер телефона</a></span>
                {% endif %}
            </div>

            <div class="input-group">
                <label for="emailField">E-mail:</label>
                {% if user.email %}
                    <input id="emailField" class="profile-input" type="text" value="{{ user.email }}" readonly>
                {% else %}
                    <span><a href="{% url 'settings' %}">+ добавить email</a></span>
                {% endif %}
            </div>

            <div class="input-group">
                <label for="usernameField">Ваш никнейм:</label>
                <input id="usernameField" class="profile-input" type="text" value="{{ user.username }}" readonly>
            </div>
              </form>
            </section>
                    </div>

            </div>

    {% endblock %}