{% extends 'base.html' %}
{% load static %}
    {% block content %}

        <section class="justify-center display-grid companies">
             {% for brands in brands %}

            <a href="{{ brands.get_absolute_url }}?category={{ category.url }}" class="remove-mobile-background">
                <div class="brand center">
                    <img src="{{ brands.image.url }}" alt="">
                    <p>{{ brands.name }}</p>
                </div>
            </a>
            {% endfor %}



        </section>
        <section class="min-width-80 catalog-info" style="margin-top: 50px;">
            <p><span style="color: #2C509A; font-size: larger;">AITUSHOP —</span> многофункциональный сервис поиска товаров в интернет-магазинах и сравнения цен. 
                Он охватывает самые разнообразные категории товаров: электроника, компьютеры, бытовая техника, автотовары,
                 оборудование для ремонта и строительства, туристическое снаряжение, детские товары и многое другое.</p>

            <p>AITUSHOP — каталог описаний и цен на бытовую и компьютерную технику, электронику, товары для дома и офиса. 
                Наша задача — помочь подобрать и купить нужную модель по лучшей цене в интернет-магазинах. В каталоге можно 
                найти всю необходимую для выбора информацию — сравнение товаров, подбор моделей по параметрам, подробные 
                описания, поиск товара по названию, отзывы пользователей, фотогалереи товаров, глоссарий терминов, обзоры, 
                инструкции, рейтинг товаров, рекомендации экспертов, каталог брендов и многое другое. Перепечатка любых 
                материалов разрешена только с письменного согласия редакции.</p>
        </section>
    {% endblock %}